<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MongoDB.Bson" version="2.2.3" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.2.3" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.2.3" targetFramework="net46" />
  <package id="Nelibur.Sword" version="3.1.6" targetFramework="net46" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net46" />
  <package id="NLog" version="4.2.3" targetFramework="net46" />
</packages>