body {
    position: relative;
    background: #222;
    padding-top: 41px;
}

h1 {
    font-size: 2.6em;
}

cite {
    font-style: italic;
}

.spacer5 {
    clear:both;height: 5px;
}

.centered {
    text-align: center;
}

.clearfix {
    clear: both;
}

.voffset {
    margin: .5em 0;
}

.roffset {
    margin-right: .5em;
}

.huge {
    font-size: 2em;
}

.caret {
    opacity: .8;
}

.small {
    font-size: .85em;
}

.tags span {
    padding: .4em;
    margin-bottom: .5em;
    font-size: 1.1em;7
}

.tags a {
    color: #fff;
}

.navbar-brand.site-name {
    font-size: 1.6em;
    color: #444444;
    font-weight: bold;
    margin-left: 0;
}

.navbar-brand.site-name:hover {
    color: #444444;
    font-weight: bold;
}

.slogan span {
    display: inline-block; 
    margin: 8px;
    background-color: #569FEC;
    border-radius: 8px 20px 0 0;
    padding: 0 5px 0 2px;
    color: #fff;
}

.navbar-profiles {
    margin-right: 80px;
    padding-top: 10px;
}

.navbar-profiles a {
    text-decoration: none;
    margin-left: 15px;
}

.navbar-profiles a:hover {
    text-decoration: none;
}

.navbar-profiles img {
    width: 30px; 
    height: 30px;
}

.share a {
    font-size: 20px;
}

.modal-large {
    width: 76%;
    margin-left: -38%;
}

.col-md-4 h5 {
    height: 1.4em;
    overflow: hidden;
}

.gallery h5 {
    height: 30px;
    overflow: hidden;
}

.gallery img {
    height: 200px;
}

.gallery-lg img {
    height: 400px;
}

.vis-preview {
    margin-bottom: 1em;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    min-width: 300px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 15px;
    line-height: 20px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.sigma-parent {
    height: 600px;
    position: relative;
    background: #222;
}

.sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ad h3 {
    font-size: 1.2em;
    margin: -.5em 0 0 0;
}

#loading {
    position: absolute;
    left: 30%;
    top: 25%;
    width: 40%;
    color: #fff;
    font-size: 2em;
    display: none;
}

#nodeinfo {
    display: none;
    position: absolute;
    right: 5px;
    top: 58px;
    max-width: 350px;
    opacity: .8;
}

.tooltip {
    display: none;
    opacity: 0;
    position: absolute;
    width: 250px;
    font: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(34, 36, 38);
    overflow: hidden;
    z-index: 1002;
}

.tooltip.user {
    width: 250px;
}

.tooltip .content {
    /*pointer-events: none;  required for d3 */
    position: relative;
    font-size: 12px;
    padding: 10px;
    background: rgb(80, 80, 80);
    border: 1px solid rgb(28, 28, 28);
    border-radius: 2px 2px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
    color: rgb(227, 227, 227);
    z-index: 320;
}

.tooltip .header {
    margin: 0px 0px 8px;
    padding: 0px 0px 8px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: left;
    border-bottom: 1px solid rgb(114, 114, 114);
}

.tooltip .header.user {
    border-bottom: 0;
    height: 64px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tooltip .header.cource {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tooltip .gravatar {
    float: left;
    margin-right: .8em;
}

.tooltip .gravatar-wrapper {
    padding: 0;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.tooltip .gravatar-wrapper img {
    width: 64px;
    height: 64px;
}

.tooltip .user-info {
    font-size: 12px;
    color: #e3e3e3;
    text-align: left;
    height: 64px;
}

.tooltip .user-link {
    font-size: 18px;
    color: #e2e2e2!important;
    text-decoration: none;    
    font-weight: bold;
}

.tooltip .user-badges {
    font-weight: normal;
}

.tooltip .gold-badges {
    color: #FFCC00;
}

.tooltip .silver-badges {
    color: #C5C5C5;
}

.tooltip .bronze-badges {
    color: #CC9966;
}

.tooltip .user-info a {
    color: #b4d4ec;
    text-decoration: none;
    font-weight: normal;
}

.tooltip .user-info a:hover {
    color: #dcecf7;
    text-decoration: none;
}

.tooltip .favorite {
    font-size: 13px;
    color: rgb(253, 202, 92);
    cursor: pointer;
    text-decoration: none;
}

.tooltip .sub-links {
    display: block;
    float: right;    
    width: 50px;
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    color: rgb(114, 114, 114);
    text-align: right;
}

.tooltip .sub-links.cource {
    width: 80px;
}

.tooltip .sub-links a,
.tooltip .sub-links a:visited {
    color: rgb(255, 153, 51);
    cursor: pointer;
    text-decoration: none;
}

.tooltip .description {
    margin: 0px 0px 8px;
    font-size: 11px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tooltip .footer {
    font-size: 11px;
    color: rgb(180, 212, 236);
}

.tooltip .footer a,
.tooltip .footer a:visited {
    color: rgb(180, 212, 236);
    cursor: pointer;
    text-decoration: none;
}

.github-corner:hover .octo-arm {animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}