body {
    position: relative;
    background: #222;
    padding-top: 41px;
}

h1 {
    font-size: 2.6em;
}

cite {
    font-style: italic;
}

.clearfix {
    clear: both;
}

.navbar-brand.site-name {
    font-size: 1.6em;
    color: #444444;
    font-weight: bold;
    margin-left: 0;
}

.navbar-brand.site-name:hover {
    color: #444444;
    font-weight: bold;
}

.slogan {
    display: inline-block;
}

.slogan .highlight-part {
    display: inline-block; 
    margin-top: 8px;
    background-color: #569FEC;
    border-radius: 8px 20px 0 0;
    padding: 0 5px 0 2px;
    color: #fff;
}

.navbar-profiles {
    margin-right: 80px;
    padding-top: 8px;
}

.navbar-profiles a {
    text-decoration: none;
    margin-left: 15px;
}

.navbar-profiles a:hover {
    text-decoration: none;
}

.navbar-profiles img {
    width: 30px; 
    height: 30px;
}

.sigma-parent {
    height: 600px;
    position: relative;
    background: #222;
}

.sigma-expand {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.loading {
    position: absolute;
    left: 30%;
    top: 25%;
    width: 40%;
    color: #fff;
    font-size: 2em;
    display: none;
}

.tooltip {
    display: none;
    opacity: 0;
    position: absolute;
    width: 250px;
    font: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222426;
    overflow: hidden;
    z-index: 1002;
}

.tooltip .content {
    position: relative;
    font-size: 12px;
    padding: 10px;
    background: #505050;
    border: 1px solid #1C1C1C;
    border-radius: 2px 2px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
    color: #E3E3E3;
    z-index: 320;
}

.tooltip .header {
    margin: 0px 0px 8px;
    padding: 0px 0px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-bottom: 1px solid #727272;
}

.tooltip .header.user {
    border-bottom: 0;
    height: 64px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tooltip .header.cource {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.tooltip .header-main-content {
    width: 175px; 
    float: left;
}

.tooltip .cource .header-main-content {
    width: 145px; 
    float: left;
}

.tooltip .gravatar {
    float: left;
    margin-right: .8em;
}

.tooltip .gravatar-wrapper {
    padding: 0;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.tooltip .gravatar-wrapper img {
    width: 64px;
    height: 64px;
}

.tooltip .user-info {
    font-size: 12px;
    color: #e3e3e3;
    text-align: left;
    height: 64px;
}

.tooltip .user-link {
    font-size: 18px;
    color: #e2e2e2!important;
    text-decoration: none;
    font-weight: bold;
}

.tooltip .user-badges {
    font-weight: normal;
}

.tooltip .gold-badges {
    color: #FFCC00;
}

.tooltip .silver-badges {
    color: #C5C5C5;
}

.tooltip .bronze-badges {
    color: #CC9966;
}

.tooltip .user-info a {
    color: #b4d4ec;
    text-decoration: none;
    font-weight: normal;
}

.tooltip .user-info a:hover {
    color: #dcecf7;
    text-decoration: none;
}

.tooltip .favorite {
    font-size: 13px;
    color: #FDCA5C;
    cursor: pointer;
    text-decoration: none;
}

.tooltip .sub-links {
    display: block;
    float: right;
    width: 50px;
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    color: #727272;
    text-align: right;
}

.tooltip .sub-links.cource {
    width: 80px;
}

.tooltip .sub-links a,
.tooltip .sub-links a:visited {
    color: #FF9933;
    cursor: pointer;
    text-decoration: none;
}

.tooltip .description {
    margin: 0px 0px 8px;
    font-size: 11px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}