body {
    position: relative;
    margin: 0;
    min-width: 1000px;
    padding-top: 51px;
    background: #222;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.clearfix {
    clear: both;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    background-color: #222222;
    color: #ffffff;
}

.header__logo {
    position: absolute;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 15px;
    line-height: 20px;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
}

.header__logo:hover,
.header__logo:visited {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.header__slogan {
    display: inline-block;
    margin-top: 12px;
    font-size: 21px;
}

.header__slogan-highlight {
    color: #68B6FF;
    text-transform: uppercase;
}

.header__team {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 80px;
    padding-top: 10px;
}

.team-member__link {
    margin-left: 15px;
    text-decoration: none;
}

.team-member__link:hover {
    text-decoration: none;
}

.team-member__avatar {
    width: 30px; 
    height: 30px;
    background-color: #ffffff;
}

.data-visualisation {
    position: relative;
    height: 600px;
    background: #222;
}

.data-visualisation__loader {
    display: none;
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40%;
    font-size: 2em;
    color: #fff;
}

.data-visualisation__chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tooltip {
    display: none;
    opacity: 0;
    position: absolute;
    width: 250px;
    font: 13px;
    z-index: 1002;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222426;
    overflow: hidden;
}

.tooltip__content {
    position: relative;
    padding: 10px;
    border: 1px solid #1C1C1C;
    font-size: 12px;
    z-index: 320;
    background: #505050;
    border-radius: 2px 2px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px;
    color: #E3E3E3;
}

.tooltip__header {
    margin: 0px 0px 8px;
    padding: 0px 0px 8px;
    border-bottom: 1px solid #727272;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

.tooltip__header_course {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.tooltip__header__lib-info {
    width: 175px; 
    float: left;
}

.tooltip__header__lib-name {
    display: inline-block;
    margin-right: 10px;
}

.tooltip__header__lib-star {
    font-size: 13px;
    color: #FDCA5C;
}

.tooltip__lib_description {
    margin: 0px 0px 8px;
    font-size: 11px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tooltip__header__course-name {
    float: left;
    width: 145px; 
}

.tooltip__geek-avatar__link {
    float: left;
    margin-right: 10px;
    font-size: 0;
}

.tooltip__geek-avatar__image {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.tooltip__geek-info {
    float: right;
    width: 150px;
    height: 64px;
    font-size: 12px;
    color: #e3e3e3;
    text-align: left;
}

.tooltip__geek-info__name {
    font-size: 18px;
    color: #e2e2e2;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltip__geek-info__badges {
    margin: 7px 0;
}

.tooltip__geek-info__badge_gold {
    color: #FFCC00;
}

.tooltip__geek-info__badge_silver {
    color: #C5C5C5;
}

.tooltip__geek-info__badge_bronze {
    color: #CC9966;
}

.tooltip__geek-info__link,
.tooltip__geek-info__link:visited {
    color: #b4d4ec;
    text-decoration: none;
    font-weight: normal;
}

.tooltip__geek-info__link:hover {
    color: #dcecf7;
    text-decoration: none;
}

.tooltip__header__link,
.tooltip__header__link:visited,
.tooltip__header__link:active {
    display: block;
    float: right;
    width: 50px;
    height: 16px;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    color: #FF9933;
    cursor: pointer;
    text-decoration: none;
}

.tooltip__header__link_course {
    width: 80px;
}